.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header_head {
    width: 100%;
    background-color: #1473e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bolder;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-content: space-between;
    text-align: center;


}

li {
    padding: 10%;
}

.BFSI {
    font-size: 50px;
}

li:hover {
    color: black;

}

.search {

    width: 70%;
    transition: all 2s;
    background-color: #1473e6;
    border: none;
    border-bottom: 2px solid white;


}

.toggle {
    width: 0px;
}

.img {
    width: 5%;

}

.header_Right {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}

.section_first {
    width: 100%;
    height: 776px;
    display: flex;
    background-image: url(./Image/Rectangle.png);
    background-size: cover;
    overflow: hidden;
    padding: 100px 0px;
    animation-name: back;
    animation-delay: 3s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.section_first_left {
    background-color: white;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;


}

.section_first_h2 {
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
}

.label_first {

    margin-top: 20px;
}

.section_first_btn {
    margin-top: 20px;
}

.section_first_right {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.section_first_h1 {
    padding: 30px 0px;
    font-weight: bold;
    font-size: 25px;

}

.section_first_p {
    line-height: 25px
}

.section_first_botton {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -150%;
    margin-bottom: -150px;
}

.section_second {
    width: 100%;
    height: 1049px;
    margin: 0 auto;
    background-color: #ff8c00e7;
    display: flex;
    align-items: center;

}


.section_second_p {
    width: 300px;

}

.section_second_container1 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.section_second_box2 {
    width: 800px;
    display: flex;
    padding: 50px;

}

.section_second_box1 {
    width: 350px;
    display: flex;

}

.section_second_box2_1 {
    width: 300px;
    display: flex;
    gap: 170px;
}

.section_second_box2_2 {
    width: 400px;
}

.section_second_info {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}


.section_second_h3 {
    font-size: 40px;
    font-weight: bold;

}

.section_second_container2 {
    width: 300px;
    display: flex;
}

.section_second_h1 {
    font-weight: bold;
    font-size: 20px;
}

.section_second_h2 {
    padding: 20px;
}



.tw {
    padding: 30px;
}

.section_third {
    width: 100%;
    height: 1049px;
    background-image: url("./Image/Rectangle\ \(10\).png");
    margin: 0 auto;
    overflow: hidden;
}

.section_third_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.section_third_h1 {
    width: 600px;
    display: flex;
    text-align: center;
    flex-direction: column;

}

.third_h1 {
    font-size: 54px;
    font-weight: bold;
}

.third_p {
    line-height: 35px;
    font-size: 25px;
    color: #333333;
}

.section_third_box {
    display: flex;
    width: 80%;
    margin-left: 20%;
    align-items: flex-end;
    overflow: hidden;
    transform: translateX(100vw);
}


.box {

    flex-wrap: wrap;

}

.box_box {
    width: 100px;
}

.box_box_p {
    width: 400px;
}

@keyframes back {
    0% {
        background-image: url("./Image/Rectangle.png");

    }

    50% {
        background-image: url("./Image/20361101.jpg");
    }

    100% {
        background-image: url("./Image/istockphoto-1154873007-612x612.jpg")
    }

}