.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header_head {
    width: 100%;
    background-color: #1473e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bolder;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-content: space-between;
    text-align: center;


}

li {
    padding: 10%;
}

.BFSI {
    font-size: 50px;
}

.hadli:hover {
    color: black;

}

.search {

    width: 70%;
    transition: all 2s;
    background-color: #1473e6;
    border: none;
    border-bottom: 2px solid white;


}

.toggle {
    width: 0px;
}

.img {
    width: 5%;

}

.header_Right {
    width: 20%;
    display: flex;
    justify-content: flex-end;

}

.section_first {
    width: 100%;
    height: 776px;
    display: flex;
    background-image: url(./Image/Rectangle.png);
    background-size: cover;
    overflow: hidden;
    padding: 100px 0px;
    animation-name: back;
    animation-delay: 3s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.section_first_left {
    background-color: white;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;


}

.section_first_h2 {
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
}

.label_first {

    margin-top: 20px;
}

.section_first_btn {
    margin-top: 20px;
}

.section_first_right {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.section_first_h1 {
    padding: 30px 0px;
    font-weight: bold;
    font-size: 25px;

}

.section_first_p {
    line-height: 25px
}

.section_first_botton {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -150%;
    margin-bottom: -400px;
}

.section_second {
    width: 100%;
    margin: 0 auto;
    background-color: #ff8c00e7;
    display: flex;
    align-items: center;

}


.section_second_p {
    width: 300px;

}

.section_second_container1 {
    width: 60%;
        margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.section_second_box2 {
    width: 800px;
    display: flex;
    padding: 50px;

}

.section_second_box1 {
    width: 350px;
    display: flex;

}

.section_second_box2_1 {
    width: 300px;
    display: flex;
    gap: 170px;
}

.section_second_box2_2 {
    width: 400px;
    font-display: flex;
}

.section_second_info {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}


.section_second_h3 {
    font-size: 40px;
    font-weight: bold;

}

.section_second_container2 {
    width: 300px;
    display: flex;
}

.section_second_h1 {
    font-weight: bold;
    font-size: 20px;
}

.section_second_h2 {
    padding: 20px;
}



.tw {
    padding: 30px;
}

.section_third {
    width: 100%;
    height: 1049px;
    background-image: url("./Image/Rectangle\ \(10\).png");
    margin: 0 auto;
    overflow: hidden;
}

.section_third_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.section_third_h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 300px 0px 0px 0px;
    width: 450px
}

.third_h1 {
    font-size: 54px;
    font-weight: bold;
}

.third_p {
    line-height: 35px;
    font-size: 20px;
    color: #333333;
}

.section_third_box {
    display: flex;
    width: 60%;
    margin: 100px auto;
    align-items: flex-end;
    transform: translateX(100vw);
    transition: transform 2s;
    gap: 40px;

}


.box {
    width: 270px;
    flex-wrap: wrap;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    animation: move 5s infinite;
}

.box:hover {
    background-color: #1473e6;
    color: white;

}

.box img {
    width: 101px;
    height: 101px;
}

.box_box {
    width: 100px;
}

.box_box_p {
    width: 400px;
}

.section_fourth {
    width: 100%;
    background-image: url("./Image/sectionthree.png");
    margin: 0 auto;
}

.our_work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.nav_h_p {
    padding: 100px 0px 0px 0px;
}

.section_fourth_header {
    width: 30%;
    color: white;
    border-radius: 5px solid white;

}

.section_fourth_h1 {
    display: flex;
    text-align: center;
    flex-direction: column;


}

.fourth_h1 {
    width: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.fourth_p {
    width: 350px;
    color: white;
    line-height: 35px;
    font-size: 15px;
    padding: 20px 0px;
}

.la {
    width: 100px;
    border: 0.1px solid white;
    padding: 13px;
    font-weight: bold;
    font-size: 12px;

}

.section_fourth_cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 200px 25px;
    gap: 50px;
}

.la:hover {
    background-color: #1473e6;
}



.Cards_info {
    background-image: url("./images/Rectangle.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.Cards_info>div {
    padding: 25px;
}

.card_text {

    padding: 206px 0 0 20px;
}

.Market {
    color: black;
    width: 200px;
    padding-top: 10px;
    line-height: 1.1;
    font-size: 35px;
    font-weight: bold;

}

.Aliq {
    font-size: 17px;
    width: 200px;
    padding-top: 30px;
    color: rgb(187, 186, 186);
}

.Aliq:hover {
    color: black;
}

.Cards_info {
    width: 90%;
    margin: 0 auto;
    padding: 90px 0 130px 0;

}

.Cards_box_one {
    background-image: url("./Image/pirveli.jpeg");
    border-radius: 25px;
    width: 270px;
    height: 450px;
    transition: width 1s, height 4s;
    background-size: cover;
    position: relative;
}

.Cards_box_one:hover {
    width: 350px;

}

.Cards_box_two {
    background-image: url("./image/meore.jpeg");
    background-size: cover;
    border-radius: 20px;
    width: 270px;
    height: 450px;
    transition: width 1s, height 4s;
}

.Cards_box_two:hover {
    width: 350px;
}

.Cards_box_three {
    background-image: url("./image/meotxe.jpeg");
    background-size: cover;
    border-radius: 20px;
    width: 270px;
    height: 450px;
    transition: width 1s, height 4s;
}

.Cards_box_three:hover {
    width: 350px;
}

.Cards_box_four {
    background-image: url("./image/mexute.jpeg");
    background-size: cover;
    overflow-x: hidden;
    border-radius: 20px;
    width: 270px;
    height: 450px;

    transition: width 1s, height 4s;

}

.Cards_box_four:hover {
    width: 350px;
}

.card_text {
    padding: 206px 0 0 20px;
}

.section_fifth {
    width: 100%;
    margin: 0 auto;
}

.container_fifth {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fifth_head {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px 0px 0px;
    gap: 10px;
}


.fifth_h1 {
    width: 200px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

.fifth p {
    width: 100px;
    color: black;
    line-height: 35px;
    font-size: 15px;

}

.fifth_box {
    width: 271px;
    background-color: #efefef;


}

.fifth_boxes {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 561px;
    gap: 50px;
}

.fifth_h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
}

.fifth_box p {
    padding: 15px 0px;

}

.fifth_box button {
    margin-bottom: 30px;

}

.fifth_box button {
    border-radius: 2px solid black;
    width: 100px;
    height: 30px;
}

.fifth_box img {
    padding: 30px 0px;
}

.price {
    font-size: 40px;
    font-weight: bold;
}

.fifth_box:hover {
    background-color: #1473e6;

}

.fifth_box button:hover {
    background-color: #fc9a25;
}

footer {
    background-color: #333333;

    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
    align-items: center;
}

.about h1 {
    margin-bottom: 80px;
    font-weight: bold;
}

.about p {
    opacity: 0.5;
}

.BFSI1 {
    display: flex;
    color: white;
}

.info {
    display: flex;
    gap: 100px;
}

.BFSI1 {
    font-size: 50px;
}
 .section_second_img {
     width: 100%;
 }

@keyframes back {
    0% {
        background-image: url("./Image/Rectangle.png");

    }

    50% {
        background-image: url("./Image/20361101.jpg");
    }

    100% {
        background-image: url("./Image/istockphoto-1154873007-612x612.jpg")
    }

}

@keyframes move {
    from {
        transform: translateX(0px)
    }

    to {
        transform: translateX(-1000px)
    }
}

@media(max-width:1268px) {
    .section_second_container2{
        width: 30%;
        margin-left: 5%;
    }

}
@media(max-width:700px){
    .section_second_info{
        width: 744px;
    }
}
@media(max-width:1074px) {
    .boxs {
       flex-wrap: wrap;
    }
}
@media(max-width:1100px) {
    .section_second_container2 {
       display: none;
    }
}