.header_head {
    width: 100vw;
    height: 100px;
    background-color: #1473e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bolder;

}

nav ul {
    display: flex;
    align-content: space-between;
    text-align: center;


}

li {
    padding: 30px;
}

.BFSI {
    font-size: 30px;
}

li:hover {
    color: black;

}

.search {

    width: 350px;
    transition: all 2s;
    background-color: #1473e6;
    border: none;
    border-bottom: 2px solid white;


}

.toggle {
    width: 0px;
}

.img {
    width: 20px;
    margin-left: -20px;
    height: 30px;
}

.header_Right {
    width: 360px;
    margin-left: 500px;


}

.section_first {
    background-image: url("./Image/Rectangle.png");
    background-size: cover;
    position: relative;
    padding-top: 800px;
}
